doctype html
html(lang='en')
	head
		include ./components/_meta.pug
		title Sign up
		link(rel='stylesheet', href='../css/signup.css')

	body
		include ./onboarding/_navigation.pug

		//- 內容開始 –––––––––––––––––––––––––––––––––––––––––––––––––––
		
		.container
			.content
				h1 Sign up
				h5 Get 10,000 interactive pages – free to start
				
				button.full
					img(src='../img/onboarding/Google.svg' width='16px' height='16px' alt='google')
					| Sign up with Google

				h5.separate_line or

				form(id='signupForm')
					label(for='email') Email
					input(type='email'
						id='email'
						name='email'
						required
						placeholder='you@company.com'
						autocomplete='email')
					label(for='password') Password
					.input-wrapper
						input(type='password'
							id='password'
							name='password'
							required
							placeholder='***'
							autocomplete='new-password')
						img(src='../img/onboarding/visibility.svg' width='20px' height='20px' alt='show password')
					ul.password-hint Password must include:
						li(data-rule='upper') 1 uppercase letter
						li(data-rule='lower') 1 lowercase letter
						li(data-rule='number') 1 number
						li(data-rule='special') 1 special character
						li(data-rule='length') At least 8 characters
					button.fill.full(type='submit') Create account

		//- 內容結束 –––––––––––––––––––––––––––––––––––––––––––––––––––

		include ./onboarding/_footer.pug
		script(src='../js/signup.js')

